.App {
  text-align: center;
  background-color: #343a40;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  color: white;
  font-weight: bold;
}

/* react-loading */
.loading > div {
  text-align: center;
  margin: 0 auto;
}

.attension {
  color: white;
  font-weight: bold;
}

.main {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
}

.main .screen-inner {
  padding-left: 15px;
  padding-right: 15px;
}

.screen-navbar {
  background-color: #2a2f33;
  border-bottom: 3px solid #484d54;
}