.calendar {

}

.calendar .active {
  color: white !important;
}

.calendar .nav-links {
}
.calendar .month-links {
  padding-left: 20px;
}
.calendar .date-links {
  padding-left: 20px;
}
.calendar .date-links > li {
  list-style: none;
  float: left;
  padding-right: 5px;
}

.calendar li > a {
  color: #007bff !important;
  cursor: pointer;
}
.calendar li > a:hover {
  text-decoration: underline !important;
}