.messages {
  text-align: left;
}

.messages .message {
  border-bottom: 1px solid #484d54;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: left;
  white-space: pre-line;
  word-break: break-all;
  background-color: red;
}
.messages .message.transition {
  transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  background-color: transparent;
}
.messages .message.no-transition {
  background-color: transparent;
}

.messages .message .message-header .date {
  color: lightgreen;
}

.messages .message .message-header .nickname {
  color: orange;
}

.messages .message .message-inner {
  color: white;
}

