.sidebar {
  background-color: #2a2f33;
  color: white;
  text-align: left;
  min-height: 100vh;
  border-right: 3px solid #484d54;
}

.sidebar .sidebar-inner {
  position: sticky;
  top: 0;
}